*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif,cursive,monospace;
}
body{
      background: rgba(29, 80, 103, 1);
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}
.container{
      color: aliceblue;
      padding: 20px;
      width: 600px;
      background:rgba(56, 96, 165, 0.3) ;
      display: flex;
      flex-direction: column;
}
.input-label{
      font-weight: 500;
      font-size: 20px;
      margin-left: 25px;
      padding: 5px 0;
      margin-bottom: -10px;
}
.inputField{
      width: 90%;
      margin: 10px auto;
      padding: 10px;
      outline: none;
      border-radius: 5px;
      border: none;
      color: #115094;
}
.inputField::placeholder{
      color: #115094;
      font-weight: 500;
      font-size: 16px;
}

.submit-btn{
      width: 30%;
      font-weight: 500;
      color: #115094;
      font-size: 16px;
      margin: 5px auto;
      border: none;
      padding: 10px 5px;
      cursor: pointer;
      margin-bottom: 15px;
      transition: all 0.3s;
      border-radius: 5px;

}
.submit-btn:hover{
     color: aliceblue;
     background-color: #115094;
     border: 1px solid aliceblue;
     transform: translateY(-5px);
}
.submit-btn:active{
      transform: scale(0.95);
}
#result{
      font-weight: bold;
}
h1{
      padding: 15px 10px;
}